* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

@font-face {
    font-family: 'MASQUE';
    src: url('../fonts/MASQUE.ttf');
}

body {
    background-color: black;
}

.nav-container {
    position: sticky;
    top: 0;
}

nav:hover {
    opacity: 100%;
}

header {
    height: 20vw;
    width: 100%;
    background: url('../images/background.webp') no-repeat;
    background-size: cover;
}

nav {
    user-select: none;
    display: flex;
    background-color: black;
    justify-content: space-around;
    flex-flow: row nowrap;
    
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.5s linear;
}

nav a {
    color: #ee1c4d;
    font-family: 'MASQUE', 'Times New Roman', Times, serif;
    padding: 30%;
    border-right: white solid 1px;
    text-decoration: none;
    font-size: 1.5vw;
    transition: color 0.3s linear;
}

nav a:hover {
    border-bottom: white solid 2.5px;
    color: white;
    
}

li a {
    padding: 0.5vw 2vw 0.5vw 2vw;
}

li:last-child a:last-child {
    border-right: none;
}

p {
    font-size: 20px;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;

}

/*          ------------------
----            CONTAINERS           ----
            ------------------         */

/*  
        Startsida (index.html) 
                                    */

.index-container {
    display: grid;
    grid-template-columns: 31.5% 35% 31.5%;
    grid-template-rows: 34vw 25.5vw 30vw;
    gap: 1%;
}

.index-container section:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: black;
    background: url('../images/background.jpg') no-repeat;
    height: 34vw; 
    width: 100%;
    background-position-y: 50%;
    background-size: cover;
}

.index-container section:nth-of-type(1n+2) {

    vertical-align: middle;
    transition: opacity 1s;


}

nav a mark {
    background-color: none;
    color: white;
    background-color: black;
}

.index-container section:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url('../images/lax-bowl.jpg') no-repeat;
    background-size: cover;
    height: 25.5vw;
    width: 100%;

}

.index-container section:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: url('../images/chicken-teriyaki.jpg') no-repeat;
    background-size: cover;
    height: 25.5vw;
    width: 100%;

}

.index-container section:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: url('../images/salmon-roll.jpg') no-repeat;
    background-size: cover;
    height: 25.5vw;
    width: 100%;

}

.index-container section:nth-child(5) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background: url('../images/food.jpg') no-repeat;
    background-size: cover;
    background-position-y: 90%;
    height: 30vw;
    width: 100%;
}


.index-container section:nth-child(6) {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    width: 100%;
}

/*      
         Meny (meny.html) 
                                */

.meny-container {
    display: grid;
    grid-template-columns: 15% 34.5% 34.5% 15%;
    grid-template-rows: 15vw 25vw 25vw 75vw;
    gap: 0.5vw;
    background-color: rgb(15, 15, 15);
    
}

.meny-container section {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    background-color: black;
    
}

.meny-container section:nth-child(n+3) {
    padding: 20% 0 20% 0;
}



.meny-container section:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
}

.meny-container section:nth-child(2) {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: white;
    background-color: black;
    font-family: 'MASQUE', 'Times New Roman', Times, serif;
    text-decoration: underline;
}


.meny-container section:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 6;
}

.meny-container section:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.meny-container section:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

}

.meny-container section:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.meny-container section  h2 {
    color: white;
    font-size: 2vw;
    margin: 10% 0 10% 0;
    text-align: center;
    font-family: 'MASQUE', 'Times New Roman', Times, serif;
}

.meny-container section pre, h2 {
    color: white;
    font-size: 1vw;
}

.meny-container pre mark {
    color: #ee1c4d;
    background-color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.15vw;
    text-align: center;
}



/*-------------------------------*/

.footer {
    margin-bottom: 5%;
}

.footer section {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: 1;
    width: 100%;
    
}

.footer p {
    font-size: 1.3vw;
    color: white;
}

.footer section:nth-child(1) {
    height: 10vw;
    align-items: center;
    text-align: center;
    width: 100%;
    flex: 1;
}

.footer section:nth-child(2) section:nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    flex: 2;
    width: 100%;
    align-items: center;

}

.footer section:nth-child(2) section:nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    flex: 2;
    width: 100%;
    align-items: center;
}

.footer h1 {
    color: white;
    font-size: 1.3vw;
    text-decoration: underline;
}

.footer p:nth-child(-n+2) {
    margin-top: 3%;;
}

.footer h2 {
    color: white;
    font-size: 1.65vw;
    text-decoration: underline;
}


nav img {

    padding: 15px 30px 15px 30px;
    width: 8vw;
}